      <nav class="navbar footer">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myFooter">
              <span class="glyphicon glyphicon-align-justify"></span>
            </button>
            <a class="navbar-brand" href="#"><strong class="footer">Adriana Cannon 2016</strong></a>
          </div>
          <div class="collapse navbar-collapse" id="myFooter">
            <ul class="nav navbar-nav">
              <li><a href="https://github.com/dri19tcc" target="_blank">Github</a></li>
              <li><a href="https://www.facebook.com/adriana.c.hernandez" target="_blank">Facebook</a></li>
              <li><a href="https://twitter.com/dri19tcc80" target="_blank">Twitter</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>



  </body>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/javascripts/map.js"></script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= process.env.MAPS_API_KEY %>&callback=initGoogle">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> <!-- Brings in Bootstrap -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>

</html>
