    </div>
    <div class="container">
      <nav class="navbar footer" role="navigation">
        <ul class="nav navbar-nav">
          <li><a href="#">Adriana Cannon 2016</a></li>
          <li><a href="https://github.com/dri19tcc" target="_blank">Github</a></li>
          <li><a href="https://www.facebook.com/adriana.c.hernandez" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/dri19tcc80" target="_blank">Twitter</a></li>
        </ul>
      </nav>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=<%= process.env.MAPS_API_KEY %>&callback=initGoogle">
  </script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> <!-- Brings in Bootstrap -->
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="/javascripts/map.js"></script>

</html>
