<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script> <!-- Brings in Bootstrap -->
    <script src="https://apis.google.com/js/platform.js" async defer></script> <!-- This is to use OAuth sign in -->
  </head>
  <body>
    <div>
      <div>
        <nav class="navbar navbar-inverse" role="navigation">
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/trips">Your Trips</a></li> <!-- Does not work yet -->
            <li><a href="/contact">Contact us</a></li> <!-- Does not work yet -->
          </ul>
          <ul class="nav navbar-nav navbar-right" role="navigation" style="padding: 0 3rem;">
            <% if (!loggedIn) { %>
              <li><a href="/auth/google">Sign In</a></li>
            <% } else { %>
              <li><a href="/logout">Sign Out</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
      <br/>
      <h1><%= title %></h1>
      <h3>TRIPS PAGE!!!!</h3>

      <h5>Create a New Trip</h5>

      <form action="trips/new" method="post">
        <label>Name of Trip: </label>
        <input type="text" name="name" placeholder="Insert Text Here" >

        <input type="submit" value="Submit">
      </form>

      <br />
      <br />

      <table>
        <% for(var i=0; i < trips.length; i++) { %>
        <tr>
          <td><%= trips[i].tripName %></td>
          <td><%= trips[i].tripUpdate %></td>
        </tr>
        <% } %>
      </table>

    </div>
  </body>
</html>
