body {
  margin: 0;
  text-align: center;
  background: #e5e3df;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #737373;
}

#map {
  width: 100%;
  height: 400px;
  border-style: solid;
  border-width: medium;;
  border-color: #d3d4f3;
  margin: 20px auto;
}

.navbar {
  background-color: #d3d4f3;
  border-radius: 0px;
}

.container .jumbotron {
  background-color: #d3d4f3;
  border-radius: 0px;
}

.jumbotron p {
  font-size: 17px;
}

.card {
  background-color: white;
  margin-top: 10px;
  margin-bottom: 20px;
  border-style: solid;
  border-width: medium;;
  border-color: #d3d4f3;
}

.card p {
  margin-top: 5px;
}

.create-trip {
  text-align: left;
  margin: 40px auto;
}

.left {
  text-align: left;
  margin: 30px;
}

.mapcard {
  background-color: white;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  border-style: solid;
  border-width: medium;;
  border-color: #d3d4f3;
}

.mapcard p {
  margin-top: 15px;
}

.deleteActivity {
  margin: 10px auto;
}

.completedActivity {
  margin: 10px auto;
}

.overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.map-title {
  font-size: 3rem;
  margin: 25px;
}

.info-window {
  margin: 10px 5px;
  width: 150px;
}

.glyphicon-trash {
  background-color: #d3d4f3;
  font-size: 10px;
  padding: 10px;
  border-style: none;
  margin: auto 10px;
  float: left;
}

.glyphicon-ok {
  background-color: #d3d4f3;
  font-size: 10px;
  padding: 10px;
  border-style: none;
  margin: auto 10px;
  float: right;
}

.mtc-btn {
  float: right;
  margin: 0px 35px 8px 0px;
}

.mtd-btn {
  float: left;
  margin: 0px 0px 8px 35px;
}

.btn-outline-secondary {
  background-color: white;
  border-style: solid;
  border-color: #d3d4f3;
  border-width: thin;
  border-radius: 0px;
}

.btn-outline-secondary:hover {
  background-color: #d3d4f3;
  color: #737373;
  border-radius: 0px;
}

a {
  color: #737373;
}

.footer {
  margin: 50px 0px 0px 0px;
}
